
<% include ./change_theme %>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-red-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Memo</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      

      <a href="/" class="mr-5 hover:text-gray-900">Home<a>  
        <a href="/allpost" class="mr-5 hover:text-gray-900">All Post</a>
        <% if(locals.user){%>
          <a href="/users/postadd" class="mr-5 hover:text-gray-900">Postadd</a>
          <a href="/users/mypostlist"class="mr-5 hover:text-gray-900" >My Post List</a>
          <a href="/users/myfavbloglist"class="mr-5 hover:text-gray-900" >My fav Post</a>
          <a href="/users"class="mr-5 hover:text-gray-900" >My Profile</a>
          <a href="/logout" class="mr-5 hover:text-gray-900">            
            <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
            >Logout
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4 ml-1"
                viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button></a>
          <%}else{%>
            <a href="/register" class="mr-5 hover:text-gray-900">Register</a>
            <a href="/login" class="mr-5 hover:text-gray-900">            
              <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0"
              >Login
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-1"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button></a>
          <%}%>
          <div title="Change Theme" class="dropdown dropdown-end">
            <div tabindex="0" class="btn gap-1 normal-case btn-ghost">
              <svg
                width="20"
                height="20"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-5 w-5 stroke-current md:h-6 md:w-6 "
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
                ></path>
              </svg>
              <span class="hidden md:inline">Theme</span>
              <svg
                width="12px"
                height="12px"
                class="ml-1 hidden h-3 w-3 fill-current opacity-60 sm:inline-block"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 2048 2048"
              >
                <path
                  d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"
                ></path>
              </svg>
            </div>
            <div
              class="dropdown-content bg-base-200 text-base-content rounded-t-box rounded-b-box top-px max-h-46 h-[30vh] w-52 overflow-y-auto shadow-2xl mt-16"
            >
              <div class="grid grid-cols-1 gap-3 p-3" tabindex="0">
                <div
                  class="outline-base-content overflow-hidden rounded-lg outline-2 outline-offset-2 "
                  data-set-theme="light"
                  data-act-class="outline"
                  onclick="changeTheme('light')";
                  
                >
                  <div
                    data-theme="light"
                    class="bg-base-100 text-base-content w-full cursor-pointer font-sans "
                  >
                    <div class="grid grid-cols-5 grid-rows-3 ">
                      <div
                        class="col-span-5 row-span-3 row-start-1 flex gap-1 py-3 px-4 "
                      >
                        <div class="flex-grow text-sm font-bold">light</div>
                        <div class="flex flex-shrink-0 flex-wrap gap-1">
                          <div class="bg-primary w-2 rounded"></div>
                          <div class="bg-secondary w-2 rounded"></div>
                          <div class="bg-accent w-2 rounded"></div>
                          <div class="bg-neutral w-2 rounded"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="outline-base-content overflow-hidden rounded-lg outline-2 outline-offset-2 outline"
                  data-set-theme="dark"
                  data-act-class="outline"
                  onclick="changeTheme('dark')";
                  
                >
                  <div
                    data-theme="dark"
                    class="bg-base-100 text-base-content w-full cursor-pointer font-sans"
                  >
                    <div class="grid grid-cols-5 grid-rows-3">
                      <div
                        class="col-span-5 row-span-3 row-start-1 flex gap-1 py-3 px-4"
                      >
                        <div class="flex-grow text-sm font-bold">dark</div>
                        <div class="flex flex-shrink-0 flex-wrap gap-1">
                          <div class="bg-primary w-2 rounded"></div>
                          <div class="bg-secondary w-2 rounded"></div>
                          <div class="bg-accent w-2 rounded"></div>
                          <div class="bg-neutral w-2 rounded"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    </nav> 
  </div>
</header>
            
